<% include ./partials/header %>
<div class="ui main text container" style="margin-top:50px;">
    <div class="ui top attached ">
        <div class="ui divided items segment">
            <div class="ui header ">REST full blog site</div>
                <% blogs.forEach(function(blog){ %>
                    <div class=" ui items segment">
                        
                        <div class="image">
                            <img src="<%=blog.image%>">
                            </div>
                              <div class="content">
                                <a class="header" href="/blogs/<%=blog._id%>"> <h3><%=blog.name%></h3></a>   
                                  <div class="meta">
                                    <p><%=blog.created.toDateString()%></p>
                                   </div>
                                    <div class="description">
                                     <p><%=blog.body.substring(0,100)%>....</p>
                                     </div>
                                     <div class="extra">
                                    <a class="ui inverted purple button" href="/blogs/<%=blog._id%>"> 
                                      Readmore
                                   <i class="arrow alternate circle right icon"></i>
                                        
                                   </a>
                              </div>
                            </div>
                         </div>
                         <% });%>
                    </div>
               
        </div>
    </div>

        

